hr{
    color: #e5e5e5;
    background-color:#e5e5e5;
    border:1px solid;
    max-width: 1300px;
    height:1px;
}
main{
    min-height: 77vh;
}
.footer__item{
    display: flex;
    flex-direction: column;

    padding: 5px;
}
.footer__wrapper1{
    display: flex;
    width: 100%;
}
.footer__wrapper2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    vertical-align: center;
    align-items: center;
}
.footer__block1{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
 }
.footer__box1 ul li, .footer__box2 ul li{
    list-style: none;
}
.footer__box1 p, .footer__box2 p{
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
}
.footer__box1 a, .footer__box2 a{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
}

.footer__block2{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;

}
.footer__box1, .footer__box2{
    width: 50%;
    margin: 5px;
    padding: 5px;
}
.footer__deepWrapper{
    display: flex;
    flex-direction: row;
}
.footer__box3, .footer__box4{
    width: 50%;
    margin: 5px;
    padding: 5px;
}
.footer__box6 img:nth-child(1){
    display: inline-block;
    margin-right: 25px;
}
.footer__box3 p:nth-child(1), .footer__box4 p:nth-child(1){
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
}
.footer__box3 p:nth-child(2){
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;

}
.footer__box4 p:nth-child(2){
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
}
.footer__box3 p:nth-child(2) span{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 700;
}
.footer__box5 {
    width: 302px;
    height: 119px;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
    font-family: "Times New Roman";
    font-style: italic;
}

.footer__box7{
    width: 33%;
}
.footer__box7 p{
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 700;
}
.footer__box8{
    width: 33%;
}
.footer__box8 p{
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
}
.footer__box8 span{
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
}
.footer__box9 p{
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 700;
    text-align: right;
}
.footer__box9{
    display: flex;
    width: 33%;
    justify-content: space-between;
}


@media (min-width: 1024px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}
@media (max-width: 768px) {

}